#section-jumbotron {
    position: relative;

    .jumbotron-splash {
        background: url('../../images/img-jumbotron.png') no-repeat top right;
        background-size: 110%;
        display: block;
        height: 100%;
    }

    .jumbotron-content {
        position: relative;
        z-index: 2;
    }

    .jumbotron-container {
        padding-top: 22em;
        padding-bottom: 22em;
    }

    .jumbotron-element {

        .element-1,
        .element-2 {
            position: absolute;
        }

        .element-1 {
            left: 0;
            top: 8em;
            width: 90px;
        }

        .element-2 {
            width: 130px;
            left: 54px;
            bottom: 5em;
        }
    }
}

@include media-breakpoint-down('sm') {

    #section-jumbotron {

        .jumbotron-splash {
            height: 400px;
            background-size: contain;
        }

        .jumbotron-container {
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 30px;
            padding-right: 30px;
        }

        .jumbotron-element {

            .element-1 {
                width: 60px;
                top: 17em;
            }

            .element-2 {
                width: 100px;
                left: auto;
                right: -3em;
                top: 30em;
                bottom: auto;
            }
        }
    }

}