#section-semangat {
    position: relative;

    .element-1 {
        position: absolute;
        top: 85%;
        left: 0;
        width: 290px;
    }
}

@include media-breakpoint-down(sm) {

    #section-semangat {
        
        .section-content {
            padding-left: 30px;
            padding-right: 30px;
        }

        .element-1 {
            position: relative;
        }

    }

}