body {
    background: url('../../images/bg-home.png') no-repeat bottom center;
    background-color: white;
    background-size: contain;
}

.logo-wrapper {
    max-width: 95px;
}

@import "header";
@import "footer";