$colorPrimary: #2dd3c9;
$colorPrimaryDark: #00b7ab;
$colorPrimaryLight: #a4fff9;

$colorSecondary: #2489e0;
$colorSecondaryDark: #0056a2;
$colorSecondaryLight: #a4d5ff;

$colorAccent: #fcb149;
$colorAccentDark: #a25e00;
$colorAccentLight: #ffd9a4;

$grayscaleTitleActive: #14142b;
$grayscaleBody: #4e4b66;
$grayscaleLabel: #6e7191;
$grayscalePlaceholder: #a0a3bd;
$grayscaleLine: #d9dbe9;
$grayscaleInputBackground: #eff0f6;
$grayscaleBackground: #f7f7fc;
$grayscaleOffWhite: #fcfcfc;