$typoFontWeights: (
    '': 400,
    'bold': 700
) !default;
$typoLineHeights: (
    'display-lg': 66px,
    'display-md': 1.46,
    'display-sm': 44px,
    'text-lg': 38px,
    'text-md': 34px,
    'text-sm': 28px,
    'text-xs': 24px
) !default;
$typoFontSizes: (
    'display-lg': 64px,
    'display-md': 48px,
    'display-sm': 32px,
    'text-lg': 24px,
    'text-md': 18px,
    'text-sm': 16px,
    'text-xs': 14px
) !default;
$typoLetterSpacings: (
    'display-lg': 1px,
    'display-md': 1px,
    'display-sm': 1px,
    'text-lg': .75px,
    'text-md': .75px,
    'text-sm': .75px,
    'text-xs': .75px
) !default;

$typoColors: (
    'primary': $colorPrimary,
    'primary-dark': $colorPrimaryDark,
    'primary-light': $colorPrimaryLight,
    'secondary': $colorSecondary,
    'secondary-dark': $colorSecondaryDark,
    'secondary-light': $colorSecondaryLight,
    'accent': $colorAccent,
    'accent-dark': $colorAccentDark,
    'accent-light': $colorAccentLight,
    'gray-title-active': $grayscaleTitleActive,
    'gray-body': $grayscaleBody,
    'gray-label': $grayscaleLabel,
    'gray-placeholder': $grayscalePlaceholder,
    'gray-line': $grayscaleLine,
    'gray-input-background': $grayscaleInputBackground,
    'gray-background': $grayscaleBackground,
    'gray-off-white': $grayscaleOffWhite
) !default;

@function emptyTypoWeight( $val:null ) {
    @if( $val == null or $val == '' ) {
        @return '';
    } @else {
        @return "-#{$val}";
    }
}

@each $name, $weight in $typoFontWeights {
    @each $key, $val in $typoLineHeights {
        .typo-#{$key}#{emptyTypoWeight($name)} {
            line-height: $val;
            font-size: map-get( $typoFontSizes, $key );
            letter-spacing: map-get( $typoLetterSpacings, $key );
            font-weight: $weight;
        }
    }
}

@each $name, $val in $typoColors {
    .typo-#{$name} {
        color: $val;
    }
}