// Required
@import "./variable-sites/variable-sites";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/*--------------------------------------------------------------
# LAYOUT
--------------------------------------------------------------*/
@import "layout/layout";

/*--------------------------------------------------------------
# ELEMENTS
--------------------------------------------------------------*/
@import "elements/typography";

/*--------------------------------------------------------------
# SECTIONS
--------------------------------------------------------------*/
@import "sections/sections";
@import "sections/jumbotron";
@import "sections/vision";
@import "sections/product";
@import "sections/partner";
@import "sections/semangat";
@import "sections/contact";

// FIXER
p {
    &:last-child {
        margin-bottom: 0px;
    }
}

// BUTTON FIXER
.btn-primary {
    color: white;

    &:hover {
        color: white;
    }
}
.btn-outline-primary {
    &:hover {
        color: white;
    }
}

.btn-light {
    color: $colorPrimary;

    &:hover {
        background-color: $grayscaleBackground;
        border-color: $grayscaleBackground;
        color: $colorPrimaryDark;
    }

    &:focus {
        background-color: $grayscaleInputBackground;
        border-color: $grayscaleInputBackground;
        color: $colorPrimaryDark;
    }
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
    background-color: $grayscaleInputBackground;
    border-color: $grayscaleBackground;
    color: $colorPrimaryDark;
}

// BADGE FIXER
.badge-primary {
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    .badge-primary {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.75px;
    }
}

// FORM LABEL FIXER
.col-form-label,
.form-label {
    color: $grayscaleBody;
    font-weight: 600;
    padding-bottom: .5rem;
}

// INPUT GROUP FIXER
.input-group {
    .form-control {
        border-radius: 9999px;
        background-color: rgba( white, .15 );
        height: auto;
        padding-right: 65px;
        color: white;

        &:focus {
            background-color: rgba( white, .25 );
        }

        &:not(:last-child) {
            border-top-right-radius: 9999px;
            border-bottom-right-radius: 9999px;
        }

        &::placeholder {
            color: rgba( white, .5 );
        }
    }

    .input-group-append {
        margin-left: -50px;

        .btn {
            z-index: 3;
            border-top-left-radius: 9999px;
            border-bottom-left-radius: 9999px;
        }
    }
}